*{ /* reseteo inicial*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografias importadas:   
font-family: 'Cormorant Infant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Dancing Script';
font-family: 'Raleway';
*/
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

h1 {
  font-family: Cormorant;
  font-style: italic;
  margin-bottom: 10px;
  color: aqua;
  font-size: 50px;
  padding: 5px;
  text-align: center;
}

.article h1 {
  font-size: 40px;
}

article div p {
  font-size: 20px;
}
/* header */
.contenedor_header { /* Caja contenedora de la cabecera*/
  background-color: rgb(248, 248, 60);
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  /*max-width:100%;*/
  height: 180px;
  z-index: 10;
}
.logo_tienda { /* Logo de la tienda */
  width: 300px;
  height: 160px;
  padding: 15px;
  position: relative;
  top: 10px;
  left: 15px;
}
ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 1.1rem;
}
.caja_barraNav { /* barra de navegacion */
  padding: 10px;
  position: absolute;
  top: 65px;
  left: 50%;
  font-family: Roboto;
  text-align: center;
}
/*----------------- index (html)------------------*/
main{
  background-color: darkgray;
}
.contenedor_central{ /* contenedor central */
  width: 100vw;
  height: 630px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(../imagenes/panoramicas/tienda.png);
  background-repeat: no-repeat;
}
.fondo{
  height: 100vh;
  /*background: url(../imagenes/panoramicas/tienda.png);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.texto-encima{ /* titulo de la seccion */
  width: 100%;
  text-align: center;
}
.slogan{
  text-align: center;
}
section div h3 { /* slogan */
  font-family: Inter;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  font-size: 1.7rem;
}
.slogan .nombre h3{
  color: aqua;
  font-size: 1.7rem;
}
.slogan span h3{
  font-size: 1.2rem;
}
.que_tenemos{
  width: 70%;
  margin: 0 auto;
}
h5{
  color: #fff;
  font-size: 1.35rem;
}
.boton_conocenos{ /* posicionamiento del botón */
  top: 60%;
  margin: 0 auto;
}
/* diseño boton */
main section div ul li {
  background-color: lime;
  border: 1px solid black;
  color: black;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}
main section div ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

/*------------ quienes_somos (html)---------------------------*/
article{ /* contenedor padre QS */
  margin-top: 180px;
  
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 0.55fr 0.75fr 0.25fr 0.75fr 0.25fr 0.75fr;
  grid-template-areas: 
  "titulo img"
  "parrafo_0 img"
  "sub_1 img"
  "parrafo_1 img"
  "sub_2 img"
  "parrafo_2 img"
  ;
}  
.titulo_QS{
  /*background-color: black;*/
  grid-area: titulo;
}
article h1{ /* titulo de la pagina QS*/
  font-size: 40px;
  font-family: Cormorant Infant;
  font-style: italic;
}
.parrafo0_QS{ /* texto del parrafo 0*/
  /*background-color: forestgreen;*/
  color: burlywood;
  grid-area: parrafo_0;
  padding-left: 30px;
  padding-top: 5px; 
  padding-right: 20px;
  text-align: justify;
}   

article div p{
  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
}
.subtitulo_1{ /* subtitulo del parrafo 1*/
  /*background-color: black;*/
  grid-area: sub_1;
  padding: 20px;
  padding-top: 20px;
  font-family: Cormorant Infant;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  color: silver;
}
.parrafo1_QS{ /* texto del parrafo 1*/
  /*background-color: black;*/
  color: burlywood;
  grid-area: parrafo_1;
  padding-left: 30px;
  padding-top: 5px; 
  padding-right: 20px;
  text-align: justify;
}
.subtitulo_2{ /* subtitulo del parrafo 2*/
  /*background-color: black;*/
  grid-area: sub_2;
  padding: 20px;
  font-family: Cormorant Infant;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  color: silver;
}
.parrafo2_QS{ /* texto del parrafo 2*/
  /*background-color: black;*/
  color: burlywood;
  grid-area: parrafo_2;
  padding-left: 30px;
  padding-top: 5px; 
  padding-right: 20px;
  text-align: justify;
}
.imagen_derecha{
  /*background-color: black;*/
  grid-area: img;
  padding-left: 90px;
  padding-top: 10px;
  align-items: center;
}
          
section{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg,red,blue,green,black);
  background-size: 400% 400%;
  position: relative;
  animation: animacion 10s ease infinite; /* animacion del fondo */
}
/* generacion de la animacion del fondo */
@keyframes animacion{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

/*------------ galería (html)---------------------------*/
.container-fluid{ /*contenedor padre*/
  background-color: black;
  margin-top: 180px;
  align-items: center;   
  height: 700px;
  }
  h2{
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
      /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);*/
  }

/*------------ compras (html)--------------*/
.flex-container{
  height: max-content;
}
.titulo_compras{
  margin-top: 180px;
  background-color: black;
  text-align: left;
  font-size: 50px;
  padding: 10px 20px;   
}  

.slogan_compras{
  width: 60%;
  flex: 50px;
  /*background-color: beige;*/
  padding: 50px;
  margin-left: 80px; 
  text-align: left;
  font-size: 20px;
}
.slogan_compras p{
  font-family: 'Dancing Script', regular;
  font-size: 25px;
}
.subtitulo_compras{
  flex: 50px;
  /*background-color: khaki;*/
  padding-left: 50px;
  font-family: Cormorant Infant;
  font-style: italic;
  color: rgb(59, 59, 59);
  font-size: 18px;
}
.subtitulo_compras h2{
  /*font-family: 'Special Elite', cursive;*/
  font-family: Cormorant Infant;
  padding-left: 50px;
  
}
.mensajeCentral{
  flex: 50px;
  /*background-color: goldenrod;*/
  margin-left: 80px;
  text-align: left;
  font-size: 18px;
}

.mensajeFinal{
  flex: 50px;
  /*background-color: goldenrod;*/
  margin-left: 80px;
  text-align: left;
  font-size: 18px;
}

/*------------ boton whatsapp -------------*/
.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
text-decoration: none;
color: #25d366;
background-color:#fff;
}

.my-float{
margin-top:16px;
}

/*------------ contacto (html)-------------*/
.form{
  background-color: #18A383;
  text-align: center;
  margin-top: 180px;
}
.form span h1{
  background-color: black;
}
.form span h3{
  font-size: 21px;
  font-style: normal;
}
input, textarea{
  outline: none;
  border: 0;
  width: 280px;
}
.field{
  border: solid 1px #ccc;
  padding: 10px;
}
form{ /*interior del form*/
  background-color: white;
  color: #999;
  font-size: 0.8em;
  padding: 20px;
  margin: 0 auto;
  width: 450px;
  border-radius: 5px;
}  
input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}
textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px;
}
.field:focus{
  border-color: #18A383;
}
.center-content{
  text-align: center;
}
.btn{
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-green{
  color: white;
  background-color: #3CC93F;
}

/*-------------- pie de pagina (todas) ---------------*/ 

footer {
  background-color: rgb(248, 248, 60);
  margin-left: 0px;
  padding: 50px;
  top: 20px;
}

.row{
  padding: 5px;
  text-align: center;
  
}
span{
  font-family: Inter;
  color: black;
  font-size: 14px;
}
.col-lg-4 h2{
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/*----- display movile ------*/
@media (max-width: 768px) {
  .logo_tienda { /* Logo de la tienda */
      width: 200px;
      height: 60px;
      padding: 15px;
      position: relative;
      top: 10px;
      left: 15px;
  }
  nav ul li a{
      color: black;
      font-size: 1rem;
  }
  nav ul li{
      display: block;
  }
  .caja_barraNav {
      top: 30px;
  }
  h1{ /* Titulo */
      color: aqua;
      font-size: 35px;
      margin: 0 auto;
  }
  span h3{
      font-size: 20px;
      margin: 0 auto;
  }
  .que_tenemos h5{
     font-size: 0.9rem;
     margin: 0 auto;
  }
  .slogan .nombre h3{
      color: aqua;
      font-size: 1.3rem;
      margin: 0 auto;
  }
  main section div ul li a{ /* diseño boton */
      margin: 6px;
      padding: 6px;
      width: 120px;
      margin: 0 auto;
  }
  .form span h3{
      font-size: 18px;
      font-style: normal;
  }
  /* footer */
  container text-center{
      display: none;
  }
}
  
/*# sourceMappingURL=styles.css.map */
